*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header img{
    max-width: 100%;
    width: auto;
}
.about{
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
hr{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 60px;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fbfbf3;
    padding-top: 60px;
    padding-bottom: 60px;
}
.form_container{
    max-width: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
form{
    display: inline-block;
    text-align: left;
}
p{
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: bold;
}
.input-row{
    display: flex;
    gap: 30px;
    margin-bottom: 22px;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid black;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid black;
    box-sizing: border-box;
    height: 120px;
}

footer{
    display: flex;
    background-color: #fbfbf3;
    padding-top: 50px;
    padding-bottom: 40px;
    padding: 50px 30px 40px 30px;
    justify-content: space-between;
}

@media (max-width:1165px) {
    .contact{
        display: block;
        text-align: center;
    }
}
@media (max-width:605px) {
    .contact{
        font-size: 12px;
    }
    .input-row{
        display: block;
    }
    input[type="text"]{
        margin-bottom: 20px;
    }
    .message{
        font-size: 14px;
    }
    textarea{
        width: 100%;
    }
}
